<mat-drawer-container>
  <mat-drawer> </mat-drawer>

  <div class="container">
    <div class="text-center">
      <h2 class="mat-h2">⭐ ngx-star-review</h2>
      <p class="mat-caption">
        A light package to help you to improve your rating system
      </p>

      <a mat-button color="accent" disabled>
        <mat-icon>link</mat-icon> Support our work (soon)
      </a>
    </div>

    <mat-tab-group dynamicHeight class="mt-20">
      <mat-tab label="Examples">
        <app-examples></app-examples>
      </mat-tab>
      <mat-tab label="Documentation">
        <app-documentation></app-documentation>
      </mat-tab>
    </mat-tab-group>

    <div class="footer text-center">
      <h4 class="mat-h4">
        🚀 Powered by <a href="//techfever.dev" target="_blank">TechFever</a>
      </h4>
    </div>
  </div>
</mat-drawer-container>
