// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$survey-me-primary: mat.define-palette(mat.$amber-palette);
$survey-me-accent: mat.define-palette(mat.$indigo-palette);

// The warn palette is optional (defaults to red).
$survey-me-warn: mat.define-palette(mat.$red-palette);

$survey-me-typography: mat.define-typography-config(
  $font-family: "Montserrat",
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$survey-me-theme: mat.define-dark-theme(
  (
    color: (
      primary: $survey-me-primary,
      accent: $survey-me-accent,
      warn: $survey-me-warn,
    ),
    typography: $survey-me-typography,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($survey-me-theme);

* {
  clear: both;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.mat-typography {
  font-family: "Montserrat", sans-serif;
}

ngx-star-review {
  display: flex;
}

mat-card {
  width: fit-content;
}

.mat-mdc-table {
  overflow-x: auto;
  display: block;
  white-space: nowrap !important;
}

.mat-drawer-container {
  height: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.container {
  position: relative;
  padding: 0 5%;
}

mat-card {
  width: fit-content;
  margin: 0 auto;
  padding: 25px;
}

pre {
  margin: 0;
}

.footer {
  padding: 25px 0;
  h4 {
    font-weight: normal;
    a {
      text-decoration: none;
      font-weight: bold;
      color: mat.get-color-from-palette($survey-me-primary);
    }
  }
}
