// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ngx-star-review-primary: mat.define-palette(mat.$amber-palette);
$ngx-star-review-accent: mat.define-palette(mat.$cyan-palette);

// The warn palette is optional (defaults to red).
$ngx-star-review-warn: mat.define-palette(mat.$red-palette);

$ngx-star-review-typography: mat.define-typography-config(
  $font-family: "Montserrat",
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ngx-star-review-theme: mat.define-dark-theme(
  (
    color: (
      primary: $ngx-star-review-primary,
      accent: $ngx-star-review-accent,
      warn: $ngx-star-review-warn,
    ),
    typography: $ngx-star-review-typography,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ngx-star-review-theme);

* {
  clear: both;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.mat-typography {
  font-family: "Montserrat", sans-serif;
}

p.mat-p {
  @include mat.typography-level($ngx-star-review-typography, "body-2");
}

p.mat-caption {
  @include mat.typography-level($ngx-star-review-typography, "caption");
}

ngx-star-review {
  display: flex;
}

.mat-mdc-card {
  width: auto;
  border-radius: 15px !important;
}

.mat-mdc-button,
.mat-mdc-raised-button {
  border-radius: 15px !important;
}

.mat-mdc-table {
  overflow-x: auto;
  display: block;
  white-space: nowrap !important;
}

.mat-drawer-container {
  height: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.text-muted {
  opacity: 0.5;
}

.container {
  position: relative;
}

.mdc-card {
  max-height: 500px;
  width: fit-content;
  max-width: calc(100% - 5em);
  margin: 25px auto;
  padding: 25px;
  overflow: auto;
}

.mat-table {
  overflow-x: scroll;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
.mat-row,
.mat-header-row {
  display: table-row;
}

img.brand-logo {
  width: 100px;
  border-radius: 50%;
  user-select: none;
  pointer-events: none;
}

.footer {
  padding: 25px 0;
  h4 {
    font-weight: normal;
    a {
      text-decoration: none;
      font-weight: bold;
      color: mat.get-color-from-palette($ngx-star-review-primary);
    }
  }
}
